.footer {
  background-color: #353535;
  height: 165px;

    p {
      font-size: 18px;
      color: @white;
      font-weight: 300;
      align-self: baseline;
      letter-spacing: 0.5px;
    }
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
}

.footer__link {
  position: relative;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.7;
  margin-left: 230px;

    p {
      font-size: 16px;
      color: #a1a3a0;
      margin-right: 153px;
    }
}

.footer__designer {
  position: absolute;
  top: 3px;
  left: 113px;
}
