@vivid-red: #e4222e;

body {
  font-family: "Circe", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.container {
  max-width: 1020px;
  padding-left: 77px;
  padding-right: 77px;
  margin: 0 auto;
}


@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe25.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe35.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe55.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
