@vivid-red: #e4222e;
@white: #ffffff;
@very-dark-gray: #333333;

body {
  font-family: "Circe", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background-color: @white;
  background-image: url(../img/backgound_4agency.png);
  background-repeat: no-repeat;
  background-size: 992px 1623px;
  background-position: center 2800px;
}

.container {
  max-width: 866px;
  min-width: 866px;
  padding-left: 77px;
  padding-right: 77px;
  margin: 0 auto;
}


@font-face {
  font-family: "Circe";
  src: url("../fonts/CRC25.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/CRC35.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/CRC55.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
